/* スマホUIの最大幅を414pxに固定 */
.app-container {
  max-width: 414px;
  margin: 0 auto;
  background: #fff;
  min-height: 100vh;
}

main {
  padding-top: 70px;
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  word-break: break-word;

}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ddd;
  max-width: 414px;
}

.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 414px;
  background: linear-gradient(90deg,
      #d99730,
      #ffd84b,
      #fffab4,
      #ffd84b,
      #d99730);
  border-bottom: 1px solid #ddd;
  z-index: 10;
  text-align: center;
  padding: 12px 0;
  overflow: hidden;
}

.app-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 200%;
  height: 100%;
  background: radial-gradient(ellipse closest-side,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 60%);
  transform: translateX(-50%);
  opacity: 0.7;
  pointer-events: none;
}

.app-header h1 {
  margin: 0;
  font-size: 2rem;
  color: #333;
  position: relative;

}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 414px;
  height: 60px;
  background: #fff;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.bottom-nav-item i {
  font-size: 24px;
  color: #333;
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}



@media (min-width: 415px) {
  body {
    background: #f5f5f5;
  }

  .app-container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
}