body {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f9f9f9;
}

button {
  font-size: 3rem;
  margin: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.3);
}
