.simple-container {
    text-align: center;
    margin-top: 100px;
}

button {
    width: 70px;
    height: 30px;
    background-color: aqua;
    margin: 10px 0;
    border: 1px solid #ccc;
}

input {
    width: 300px;
    height: 30px;
    margin: 10px;
    border: 1px solid #ccc;
}