<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'saving/reset.css' %}">
    <link rel="stylesheet" href="{% static 'saving/login.css' %}">
    <title>ログイン</title>
</head>

<body>
    <div class="login-container">
        <h2>ログイン</h2>

        <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div>
                <label>ユーザー名</label>
                {{ form.username }}
            </div>

            <div>
                <label>パスワード</label>
                {{ form.password }}
            </div>

            <button type="submit">ログイン</button>
        </form>

        <p>
            アカウントをお持ちでない方は
            <a href="{% url 'signup' %}">新規登録</a>
        </p>
    </div>
</body>

</html>