{% extends "saving/base.html" %}
{% load static %}

{% block title %}ジャンケン貯金{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'saving/rps.css' %}">
{% endblock %}

{% block header_title %}ジャンケン貯金{% endblock %}

{% block content %}

<p class="rps-description">
    金額を設定してジャンケン！<br>
    勝ったら設定金額を貯金💰<br>
    負けたら設定金額が引かれます😢<br>
    あいこなら、もう一度勝負✊✌️✋
</p>


<h1>好きな手を選んでください</h1>
<form method="post">
    {% csrf_token %}

    {% if not amount %}
    <label>
        金額：
        <input type="number" name="amount" min="1" required>
    </label>
    <br><br>
    {% else %}
    <p>設定金額：{{ amount }} 円</p>
    {% endif %}

    <div class="rps-buttons">
        <button type="submit" name="hand" value="グー">✊</button>
        <button type="submit" name="hand" value="チョキ">✌️</button>
        <button type="submit" name="hand" value="パー">✋</button>
    </div>
</form>

{% if amount %}
<p>設定した金額：{{ amount }} 円</p>
<p>選んだ手：{{ hand }}</p>
{% endif %}


{% if result %}
<hr>
<p>相手の手：{{ cpu_hand }}</p>
<p>結果：{{ result }}</p>

{% if result == "勝ち" %}
<p>＋{{ diff }} 円 貯金しました 🎉</p>
{% elif result == "負け" %}
<p>{{ diff }} 円 引かれました 😢</p>
<p>{{ amount }} 円 使ってください 😢</p>
{% else %}
<p>あいこ！もう一度勝負！</p>
{% endif %}
{% endif %}
{% if result == "勝ち" or result == "負け" %}
<form method="get">
    <button class="retry-button">もう一度する</button>
</form>
{% endif %}
{% endblock %}