{% extends "saving/base.html" %}
{% load static %}

{% block title %}貯金リスト{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'saving/saving-list.css' %}">
{% endblock %}

{% block header_title %}貯金方法{% endblock %}

{% block content %}
<div class="home-container">
    <ul>
        <li class="saving-item">
            <a href="{% url 'feeling' %}">気分貯金</a>
        </li>
        <li class="saving-item">
            <a href="{% url 'roulette' %}">ルーレット貯金</a>
        </li>
        <li class="saving-item">
            <a href="{% url 'rps' %}">じゃんけん貯金</a>
        </li>
        <li class="saving-item">
            <a href="#">ペット育成貯金</a>
        </li>
    </ul>
</div>
{% endblock %}